/* Homepage background image */

#homepage-bg {
    
    background-image: url("../images/background/mainBack.jpg"); 
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Location background image */
#location-bg {
    
    background-image: url("../images/background/locationBg.jpg"); 
    
    background-repeat: no-repeat;
    background-size: cover;
    
}


 /* Button position */
.location-up {
    top:11%;
    left:47%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background:yellow;
    font-family: 'Zilla Slab', serif;
}

.nutrition-left {
    
    top:50%;
    left:10%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background:yellow;
    font-family: 'Zilla Slab', serif;
}

.oreder-right {

    top:50%;
    left:80%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background:yellow;
    font-family: 'Zilla Slab', serif;
}

.about-down {

    top:95%;
    left:47%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background:yellow;
    font-family: 'Zilla Slab', serif;
}